*{
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    padding: 100px 150px;
    font-size: 40px;
    font-weight: bolder;
}
#container{
    width: 1400px;
    height: 300px;
    background-color: tomato;
}
.input1{
    margin-left: 300px;
    padding: 0px 10px;
    float: left;
}
label{
    font-weight: bolder;
    font-size: 30px;
    margin-left: 130px;
}
.inp{
    padding: 20px 50px;
    text-align: center;
    font-weight:bold;
    font-size: 20px;
}